@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.input-rounded-bottom {
  border-radius: 0 0 0.375rem 0.375rem;
  /* Ajuste o valor conforme necessário */
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --card: #f9f9f9;
    --card-foreground: #333333;
    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #0070f3;
    --primary-foreground: #ffffff;

    --secondary: #6c757d;
    --secondary-foreground: #ffffff;

    --muted: #e9ecef;
    --muted-foreground: #495057;

    --accent: #ff5722;
    --accent-foreground: #ffffff;

    --destructive: #dc3545;
    --destructive-foreground: #ffffff;

    --border: #dee2e6;
    --input: #f1f3f5;

    --ring: #0070f3;
  }

  .dark {
    --background: hsl(240, 10%, 5%);
    --foreground: hsl(0, 0%, 100%);
    --card: hsl(240, 4%, 18%);
    --card-foreground: hsl(0, 0%, 100%);
    --popover: hsl(240, 4%, 20%);
    --popover-foreground: hsl(0, 0%, 100%);

    --primary: hsl(210, 100%, 65%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(240, 5%, 28%);
    --secondary-foreground: hsl(0, 0%, 100%);

    --muted: hsl(240, 3.7%, 25%);
    --muted-foreground: hsl(240, 5%, 70%);

    --accent: hsl(33, 100%, 55%);
    --accent-foreground: hsl(0, 0%, 100%);

    --destructive: hsl(0, 70%, 50%);
    --destructive-foreground: hsl(0, 0%, 100%);

    --border: hsl(240, 4%, 35%);
    --input: hsl(240, 4%, 30%);

    --ring: hsl(210, 100%, 70%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}